<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Final year student of B.Tech CSE at IIT Mandi, My interests lie in Machine Learning, Artificial Intelligence, Deep Learning, Reinforcement Learning, etc. </p>
    <p>I have worked as an Intern at Siemens Corporate Research, Bangalore India during Winter ’16 and Summer ’17 in the field of Reinforcement Learning and Deep Learning. </p>
    <p>I look forward to take up Research jobs at appropriate firms after I graduate in ’18.</p>
</div><!--//summary-->
</section><!--//section-->