<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Tech in Computer Science and Engineering</h4>
    <h5 class="meta">IIT Mandi (HP)</h5>
    <h5 class="meta">CGPA: 8.86 (Till 6th Sem)</h5>
    <div class="time">2014- 2018 (Currently Pursuing)</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">HSC (CBSE)</h4>
    <h5 class="meta">Ryan International School, Greater Noida</h5>
    <h5 class="meta">Score: 95% (PCM+CS)</h5>
    <div class="time">2012 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">SSC (CBSE)</h4>
    <h5 class="meta">Ryan International School, Greater Noida</h5>
    <h5 class="meta">CGPA: 10.0</h5>
    <div class="time">2010- 2011</div>
</div><!--//item-->
</div><!--//education-container-->
