<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">Aug 2018 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Bloomberg LP, London</div>
        </div><!--//meta-->
        <div class="details">
            <p>Working with BVAL (Bloomberg Valuation) which deals with Fixed Income pricing using quantitative models. Primary languages are Python, C++ and JavaScript</p>  
            <!--<h4></h4>-->
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Teaching Assistant</h3>
                <div class="time">Aug 2017 - Nov 2017</div>
            </div><!--//upper-row-->
            <div class="company">CS593 Artificial Intelligence, IIT Mandi</div>
        </div><!--//meta-->
        <div class="details">
            <p>TA for AI course taught by Prof. Deepak Khemani.</p>  
            <!--<h4></h4>-->
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Intern</h3>
                <div class="time">June 2017 - Aug 2017</div>
            </div><!--//upper-row-->
            <div class="company">Siemens Corporate Research, Bangalore</div>
        </div><!--//meta-->
        <div class="details">
            <p>Intelligent Traffic Optimization using RL. Developed and simulated the system on a small segment of 
                Electronic City, Bangalore</p>  
            <!--<h4></h4>-->
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Teaching Assistant</h3>
                <div class="time">Fall 2016</div>
            </div><!--//upper-row-->
            <div class="company">IIT Mandi</div>
        </div><!--//meta-->
        <div class="details">
            <p>CS201 - Computer Organisation taught by Dr. Anil Sao.<br> Major duties were evaluation of lab assignments and clearing doubts</p>  
            
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research Intern</h3>
                <div class="time">Dec 2016 - Feb 2017</div>
            </div><!--//upper-row-->
            <div class="company">Siemens Corporate Research, Bangalore</div>
        </div><!--//meta-->
        <div class="details">
            <p>Built a Reinforcement Learning agent that was used to automate few rooms of a building simulator. It was designed to optimise energy usage.</p>  
            <!--<h4></h4>-->
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->
