<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-university"></i>Honours & Awards</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">President of India's Gold Medal 2018</h3>
            </div><!--//upper-row-->
            <div class="company">Indian Institute of Technology, Mandi</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Awarded to the student with the best academic record among the graduands.
            </p>
            <!--<h4></h4>-->
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Winner, Stock Market Analysis</h3>
            </div><!--//upper-row-->
            <div class="company">Inter IIT TechMeet 2017, IIT Kanpur</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Developed a system to analyse trend of a particular stock and scrape news articles(Previous two days) that could 
                explain it. Technologies used were Python, Flask, NLP(Sentiment Analysis and Document Summarisation), Beautiful Soup.
                Project can be found at this <a href="https://github.com/saytosid/StockMarketAnalysisInterIIT">Github repo</a>
            </p>
            <!--<h4></h4>-->
        </div><!--//details-->
    </div><!--//item-->


    <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Runner Up, ISTP 2017</h3>
                </div><!--//upper-row-->
                <div class="company">IIT Mandi</div>
            </div><!--//meta-->
            <div class="details">
                <p>
                    Insreasing seatbelt awareness among Himachali drivers by raising awareness, conducting surveys and developing an 
                    IOT device to track real time compliance.
                </p>
                <!--<h4></h4>-->
            </div><!--//details-->
        </div><!--//item-->
    
    
</section><!--//section-->