<h2 section class="section projects-section"></h2>
<h2 class="section-title"><i class="fa fa-university"></i>Honours and Awards</h2>
<div class="intro">
    
</div><!--//intro-->
<div class="item">
    <span class="project-title">1st Position, Stock Market Analysis, Inter IIT TechMeet 2017</span><span class="project-tagline">
</span>
</div><!--//item-->
<div class="item">
    <span class="project-title">2nd Position, ISTP, IIT Mandi, 2017</span><span class="project-tagline">
</span>
</div><!--//item-->

</section><!--//section-->


