<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> Supervised Deep Learning Framework for Proactive Anomaly Detection in Cloud</a></span> <span class="project-tagline"><p>A two stage novel model was built where in 1st stage, hybrid of long short term memory (LSTM) and bidirectional long short term memory (BLSTM) is used to predict future resource usage. In 2nd stage, LSTM classification model was build to classify expected state as normal or abnormal.</p>
                    <p>Technologies used: Keras, Tensorflow, Python, Docker</p></span>
                </div><!--//item-->
 				<div class="item">
                    <span class="project-title"><a href="#" target="_blank"> On the Fly Encryptor</a></span> <span class="project-tagline">
                        <p>A modified kernel that can allow user to encrypt files on-the-fly, so overall user experience remains seamless whereas actually the file remains encrypted on the disk. 
                            <br>Each data block is encrypted and stored on write() and decrypted on read(). Kernel read() and write() functions were modified for this purpose. Encryptor was tested on ciphers where size of encrypted data may differ from that of plaintext.</p>
                    <p>Technologies used: Linux kernel, Linux Virtual File System</p></span>
                </div><!--//item-->
  				
  				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">Data Management Systems for next-generation astronomical datasets</a></span> <span class="project-tagline"><p>Clustered MariaDb was used as the database managemnet system. Database was tested on exact search queries, range queries, index queries, etc. Indexing was done on the database to enhance query performance.</p>
                    <p>Technologies used: MariaDb, Galera cluster</p></span>
                </div><!--//item-->
  
  				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">Increasing Seatbelt Awareness among Himachali drivers</a></span> <span class="project-tagline"><p>This was a social as well as technical project. 
                        Several surveys were conducted to identify root cause of lack of seat belt awareness. Built a prototype which can track whether passengers in car are wearing seat belts. The seat belt usage data is futher sent over cloud. The data on cloud can be accessed by governing agencies to track seat belt usage.</p>
                    <p>Technologies used: IR sensors, GSM modeule, accelerometer, MySQL</p></span>
                </div><!--//item-->
   
  				<div class="item">
                    <span class="project-title"><a href="#hook">IOT Based LPG Gas Monitor</a></span> 
                    <p>IOT device for monitoring usage of LPG gas cylinders along with leakage alerts through Email and SMS</p>                                      
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Institute Transport Portal</a></span>  
                    <p>A web portal for users to view and book institute vehicles (cabs, buses, etc.)</p>
                    <p>Technologies used: MySQL, PHP, LAMP, JavaScript, HTML, CSS</p>
             
  				</div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Online Banking Portal</a></span> <span class="project-tagline"><p>The portal provides facility for online secure money transactions, creating accounts and checking balance.</p>
                    <p>Technologies used: MySQL, PHP, Python, JavaScript, HTML, CSS</p>
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Knock Lock</a></span> <span class="project-tagline"><p>Arduino and Piezo sensor based lock. Piezo sensor was used to detect the vibrations. Used Arduino programming for input processing.</p></span>
                </div><!--//item-->
             
            </section><!--//section-->