<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">        
        <div class="item">
            <h3 class="level-title">Python, C++</h3>                        
        </div><!--//item-->
                
        <div class="item">
            <h3 class="level-title">Linux, MacOS, Bash, Splunk</h3>                       
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Quantitative Finance</h3>                        
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Machine Learning, Artificial Intelligence, Computer Vision</h3>                              
        </div><!--//item-->
        
    </div>  
</section><!--//skills-section-->
